.b div {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: black;
}

.b div:nth-child(1) {
  top: 0;
  left: 30%;
}

.b div:nth-child(2) {
  top: 10%;
  left: 30%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.b div:nth-child(3) {
  top: 50%;
  left: 35%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
