p {
  /*
  * Schriftart
  * sans-serif, serif, monospaced
  */
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.box {
  /* Aussehen
  * width, height
  * px: Pixel
  */
  width: 800px;
  height: 800px;

  /* Positionierung:
  * fixed, absolute, relative, static
  * Dieses Vorgehen positioniert das Element fest innerhalb des Browserfensters.
  * top, bottom, left, right geben dabei die Positionierung von Oben, Unten, Links und Rechts an.
  */
  position: relative;
  top: 20px;
  bottom: 0;
  left: 20px;
  right: 0;

  /*
  * Farben:
  * Hex: #000000
  * Namen: black
  */
  background-color: coral;
}

.circle {
  /* Aussehen
  * Neben Pixeln gibt es weitere Einheiten
  * %: Prozent
  * Prozent bezieht sich immer auf das übergeordnete Element.
  * Das Übergeordnete Element zu .circle ist .box.
  * .box ist 800px breit und 600px hoch.
  * .circle ist dadurch 800px * 55% = 440px hoch und breit
  */
  width: 55%;
  height: 55%;

  /* Aussehen
  * border-radius: Rundungsgrad jeder Ecke, auch in px möglich
  * border: Dicke der Kontur, Art der Kontur, Farbe der Kontur
  */
  border-radius: 50%;
  border: 5px solid black;

  /*
  * Farben:
  * Transparent ist als Farbe erlaubt.
  */
  background-color: transparent;
  color: black;

  /*
  * Darstellung
  * block, inline, inline-block, flex
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.html {
  /* Positionierung:
  * fixed, absolute, relative, static
  * Absolute positioniert das Element innerhalb des nächst höheren fixed oder relative Elements.
  * top, bottom, left, right geben dabei wie bei fixed die Positionierung von Oben, Unten, Links und Rechts an
  * nicht gebrauchte Werte können weggelassen werden.
  */
  position: absolute;
  top: 20px;
  left: 180px;
}

.css {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.js {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
