/*
* Cascading bedeutet, dass Selektoren abfallend in Reihe geschaltet werden können
* Hier werden alle div Elemente angesprochen, die innerhalb der Klasse .a liegen
* .a ist dabei ein Elternelement »parent« und div ein Kindelement »child«
*/
.a div {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: black;
}

/*
* Ein besonderer Selektor ist :nth-child(x)
* Dabei wird nur das x-te child Element angewählt
*/
.a div:nth-child(1) {
  top: 0;
  left: 30%;

  /*
  * Transformieren
  * Mit Hilfe von transform: rotate(Xdeg) lassen sich Elemente drehen.
  */
  transform: rotate(35deg);
}

.a div:nth-child(2) {
  top: 50%;
  left: 125px;
  width: 150px;
  height: 150px;

  /*
  * Kanten Radius
  * Mit Hilfe von border-radius lassen sich Kanten abrunden
  * 50% ist der Maximalwert. Hierbei wird ein Rechteck zum Kreis.
  * Dreiecke existieren nicht.
  */
  border-radius: 50%;
}

.a div:nth-child(3) {
  top: 0;
  left: 250px;
  transform: rotate(-35deg);
}
