/*
* Display
* block, inline-block, inline, flex, grid
*/
.sentence {
  /*
  * Display: Flex
  * Flexible Anordnung
  * Über das Elternelement wird bestimmt wie sich die Kinderelemente verhalten sollen.
  * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.sentence > div {
  display: inline-block;
  /*
  * outline: 1px solid black;
  */
}
